[type="file"],
[type="checkbox"],
[type="radio"] {
  margin: 0 0 $form-spacing;
}

// Styles for input/label siblings
[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  vertical-align: baseline;

  margin-#{$global-left}: $form-spacing * 0.5;
  margin-#{$global-right}: $form-spacing;
  margin-bottom: 0;

  &[for] {
    cursor: pointer;
  }
}

// Styles for inputs inside labels
label > [type="checkbox"],
label > [type="radio"] {
  margin-#{$global-right}: $form-spacing * 0.5;
}

// Normalize file input width
[type="file"] {
  width: 100%;
}

.checkmark-container {
    display: block;
    font-size: rem-calc(14);
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 2rem;
    transition: all 0.25s;
    color: $infospace-black;

    @include breakpoint(large) {
      font-size: rem-calc(18);
    }
    &:hover input ~ .checkmark {
      background-color: $medium-grey;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $white;

        &::after {
          display: block;
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: rem-calc(15);
      width: rem-calc(15);

      border-radius: rem-calc(2);
      border: 1px solid $dark-grey;
      @include breakpoint(large) {
        height: rem-calc(23);
        width: rem-calc(23);
      }
      &::after {
        content: "";
        position: absolute;
        display: none;
        top: rem-calc(0);
        left: rem-calc(4);
        width: rem-calc(7);
        height: rem-calc(11);
        border: solid $dark-grey;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        @include breakpoint(large) {
          top: rem-calc(2);
          left: rem-calc(7);
          width: rem-calc(7.5);
          height: rem-calc(15);
        }
      }
    }
  }
