/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor-styles-wrapper {
  .wp-block-theme-accordion-blocks-item {
    padding: 0px;
    position: relative;
    text-align: left;

    h3 {
      font-size: 20px;
      margin: 0;
      padding: 20px;
      position: relative;
      text-align: left;
      background: #eee;
      textarea {
        background: transparent;
      }
    }
    .accordion-blocks-container {
      border: 6px solid #eee;
      padding: 20px;
     
    }
  }
}
