/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-benefit-carousel-list {
  padding: 20px !important;
  position: relative;
  text-align: left;
  border: 6px solid #eee;
  margin-bottom: rem-calc(10) !important;
  .block-editor-block-list__layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
    > .wp-block {
      margin: auto; 
      width:100%;
   
      max-width: 33.33%;
      display: block;
  
    }
    .block-editor-block-list__layout {
      display: block;
      > .wp-block, .wp-block {
        max-width: none;
       
     
      }
    }
    > h3.wp-block {
      margin-bottom: 1em;
    }
  }
  .button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: auto;
    text-align: left;
    width: 100%;
  }
  .size-square {
    font-size: 12px;
    color: #fff;
    margin: 10px 0;
  }
  h2 {
    textarea {
      font-weight: bold;
    }
  }
}
