/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-benefit-slide {
  //display: flex;
  //align-items: center;
  // justify-content: center;
width:100%;
flex-basis: 33%;
  position: relative;
  text-align: left;
  border: 6px solid #eee;
  margin-bottom: 10px !important;
  max-width: rem-calc(360);
  border-radius: rem-calc(50);
  //> div {
  // flex-basis: 50%;
  //&:first-child {
  // flex-basis: 50%;
  // }
  // }

  .image-container {
     border-radius: rem-calc(44);
    &__image {
      border-radius: rem-calc(44);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 360px;
      position: relative;
      mix-blend-mode: luminosity;
      opacity:0.2;
      
    }
  }
  

  .button-container {
    //position: relative !important;
    z-index: 2;
    top: 20px !important;
    left: 20px !important;
    padding-top: 0 !important;
    padding-bottom: 10px;
    margin: auto;
    text-align: left !important;
    width: calc(100% - 10px) !important;
  }
  .size-square {
    font-size: 12px;
    color: $black;
    margin: 10px;
  }
  .block-editor-inner-blocks {
    padding: 20px;
  }
  .benefit {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    text-align: left;
    padding: 0 rem-calc(50) 0 rem-calc(20);

    h3 {
      color: $white;
      text-area {
        padding: 0 20px;
        color: $white;
      }
    }
  }
}
