/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .editor-styles-wrapper {
    .wp-block-theme-breadcrumbs {
      padding: 0px;
      position: relative;
      .breadcrumbs {
        padding: rem-calc(10 10 30 10);
          border: 6px solid #eee;
      }
    }
  }
  