/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-contact-form {
  padding: 20px;
  position: relative;
  text-align: left;
  border: 6px solid #eee;
  background-image: url("../images/blocks/contact-form.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 90px;
  &:before {
    content: "";
    display: block;
    background: rgba(256, 256, 256, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .contact-form-container {
    text-align: center;
  }
  .contact-form-message {
    background: rgba(256, 256, 256, 0.8);
    padding: rem-calc(40);
    margin: 10% 20%;
    position: relative;
    p {
     
      color: #666;
      padding: 0;
      margin: 0;
      line-height: rem-calc(80);
    }
  }
}
