/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-forgot-password {
  position: relative;
  text-align: left;

  div.forgot-password-container {
    padding: 30px;
    border: 6px solid #eee;
  }
}
