/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
body .editor-styles-wrapper {
  .wp-block-theme-grey-background {
    padding: 20px;
    position: relative;
    background: $light-grey;
 
    textarea {
      background: transparent;

    }
  }
}
