/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


 .wp-block-theme-image-text {
  padding: 20px;
  position: relative;
  text-align: left;
  border: 6px solid #eee;
  background: $light-grey;
  border-radius: 50px;
  max-width: rem-calc(1160);
  margin-left: auto!important;
  margin-right: auto!important;
  .image-text-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eee;
    margin: auto;
     border-radius: 50px;;
    span {
        display: block;
        width:100%;
        padding-bottom: 100%;
    }
    
  }
  .button-container {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
  .size-square {
    font-size: 12px;
    margin: 10px 0;
  }
  .block-editor-inner-blocks {
    padding: 20px 50px;
  }
  .image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-align: left;
    padding: 20px;
    h2,h3,h4 {
      color:$infospace-purple;
    }
    text-area {
      padding: 0 20px;
    }
    > div {
      width: 55%;
      //flex-basis: auto;
      &.image-text-image-container {
        width: 45%;
      }
    }

  }
  &.reverse {
    .image-text {
      > div {
        
        order: 2;

        &.image-text-image-container {
          
          order:1;
        }
      }
    }
  }

}
