/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


  .wp-block-theme-image-text-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    position:relative;
    text-align: left;
    border: 6px solid #eee;
    > div {
      flex-basis: 50%;
    }
    .image-container {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 450px;
      &:before {
        content: "";
        position: absolute;
        left:0;
        top: 0;
        width:100%;
        height:100%;
        background: #292929;
        opacity:0.3;
      }
    }

    .button-container {
      position: absolute;
      top: 20px;
      left: 20px;
      margin: auto;
      text-align: left;
      width:100%;
    }
    .size-square {
      font-size: 12px;
      color:#FFF;
      margin: 10px 0;
    }
    .block-editor-inner-blocks {
      padding: 20px;
    }
    .image-text {
      z-index: 1;
      text-align: left;
      padding: 0;
      text-area {
        padding: 0 20px;
      }
    }
  }
