/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


 .wp-block-theme-login-register {
  padding: 50px 20px;
  position: relative;
  text-align: left;
  border: 6px solid #eee;
  
  .login-register-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eee;
    margin: auto;
    span {
        display: block;
        width:100%;
        padding-bottom: 100%;
    }
    
  }
  .button-container {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
  .size-square {
    font-size: 12px;
    margin: 10px 0;
  }
  .block-editor-inner-blocks {
    padding: 20px;
  }
  .login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-align: left;
    padding: 20px;
    text-area {
      padding: 0 20px;
    }
    > div {
      width: 50%;
      //flex-basis: auto;
      &.login-register-image-container {
        width: 50%;
      }
    }

  }
  &.reverse {
    .login-register {
      > div {
        
        order: 2;

        &.login-register-image-container {
          
          order:1;
        }
      }
    }
  }

}
