/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 body .editor-styles-wrapper {
    .wp-block-theme-logo-list {
      padding: 20px;
      position: relative;
      border: 6px solid #eee;

      
  
      .block-editor-block-list__layout {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          figure, p {
              flex-basis: 20%;
              margin:rem-calc(10);
          }
      }
    }
    .wp-block-theme-grey-background {
     .wp-block-theme-logo-list {
  
      border: 6px solid #FFF;
     }
    }
  
  }
  