/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
body .editor-styles-wrapper {
  .wp-block-theme-narrow-content {
    padding: 20px;
    position: relative;
    border: 6px solid #eee;
    background: $white;
    text-align: center;
    overflow: hidden;
    margin-top: 3em;
    max-width: rem-calc(800);
    margin-left: auto;
    margin-right: auto;
    &:before {
      content: "";
      display: block;
      background: $white;
      position: absolute;
      left: 0;
      top: -15px;
      width: 100%;
      height: 30px;
      transform: skewY(-1deg);
    }
    &:after {
      content: "";
      display: block;
      background: $white;
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 100%;
      height: 30px;
      transform: skewY(1deg);
    }
    textarea {
      background: transparent;
      text-align: center;
    }

    &.narrow {
      max-width: $global-width-inner;
      textarea {
        text-align: left;
      }
      p,
      li {
        max-width: rem-calc(700);
        margin-left: 0;
        text-align: left;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        max-width: rem-calc(900);
        margin-left: 0;
        text-align: left;
      }
    }
  }
}
