/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-services-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px!important;
  position: relative;
  text-align: left;
  border: 6px solid #eee;
  margin-bottom: 10px!important;
  max-width: rem-calc(830);
  > div {
    flex-basis: 50%;
    &:first-child {
      flex-basis: 50%;
    }
  }
  h3 {
    color:$infospace-purple!important;
  }
  .image-container {
    &__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 500px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.1;
      }
    }
  }

  .button-container {
    position: relative !important;
    top: 10px !important;
    left: 0px !important;
    padding-top: 0 !important;
    padding-bottom: 10px;
    margin: auto;
    text-align: left !important;
    width: calc(100% - 10px) !important;
  }
  .size-square {
    font-size: 12px;
    color: $black;
    margin: 10px;
  }
  .block-editor-inner-blocks {
    padding: 20px;
  }
  .services {
    z-index: 1;
    text-align: left;
    padding: 0;
    text-area {
      padding: 0 20px;
    }
  }
}
