/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-site-map {
  position: relative;
  text-align: left;
  padding: 30px !important;
  border: 6px solid #eee;

}
