/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-small-block {
  padding: 10px;
  position: relative;
  border: 6px solid #eee;
  background: #fff;
  border-radius: rem-calc(30);
  .small-block {
    padding: rem-calc(40);
  }
  .small-block__image {
    .small-block__image-container {
      width: rem-calc(30);
      height: rem-calc(30);
      background: #fff;
      background-size: contain;
      background-position: center;
      margin: 0 auto 0 0;
    }
  }
  .button-container {
    text-align: center;
    padding-top: rem-calc(10);
    .size-square {
      font-size: 12px;
      margin: 10px 0;
      color: #999;
    }
  }
}
