/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-stats-list {
  padding: 20px;
  position: relative;
  text-align: left;
  border: 6px solid #eee;

  .block-editor-block-list__layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    > .wp-block {
      width: 33.33%;
    
      h3 {
        font-size: 20px;
        margin-top: 0;
      }
      p {
        font-size: rem-calc(80);
        font-weight: 900;
        color: #666;
        padding: 0;
        margin: 0;
        line-height: rem-calc(80);
      }
    }

    .wp-block-theme-stats-item {

      position: relative;
      text-align: left;
      border: 6px solid #eee;
      padding: rem-calc(20);
      margin: rem-calc(5);
    }

    .block-editor-block-list__layout {
      display: block;
      > .wp-block {
        width: auto;
        padding: 0;
        
      }
    }
  }
 
  
}
