/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


  .wp-block-theme-testimonials-carousel {
    padding:20px;
    position:relative;
    text-align: left;
    border: 6px solid #eee;
    background-image: url('../images/blocks/testimonials.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    height: 500px;
    &:before {
      content:'';
      display:block;
      background: rgba(256, 256, 256, 0.8);
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height: 100%;
    }
    * {
      position:relative;
      z-index: 1;
    }
    p {
      font-size: rem-calc(80);
      color: #666;
      padding: 0;
      margin: 0;
      line-height: rem-calc(80);
    }
    .testomonials-container {
      background: rgba(256, 256, 256, 0.8);
      padding: rem-calc(40);
      text-align: center;
      margin: 20%;
    }
  }