/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-theme-welcome-back {
  position: relative;
  text-align: left;

  div.welcome-back-container {
    padding: 30px;
    border: 6px solid #eee;
  }
  .welcome-back__after {
    background: $light-grey;
    padding:20px;
  }
}
