.pagination {
    display:flex;
    justify-content: center;
    margin:rem-calc(10) auto 0 auto;
    list-style-type: none;
    
    li {
        padding:0;
        font-size: rem-calc(16);
        @include breakpoint(medium) {
          font-size: rem-calc(18);
        }
        &:before {
          display:none;
        }
        a, span, &.ellipsis {
            
            display:inline-block;
            
            font-weight: bold;
            line-height: 1em;
            padding:rem-calc(10 8);
            @include breakpoint(medium) {
              padding:rem-calc(14 10);
            }
            &.current {
              background: $dark-grey;
              color:#fff;
            }
            
        }
        &.pagination-previous, &.pagination-next {
  
          a {
              font-weight: normal;
              text-decoration: underline;
              font-size: rem-calc(16);
          }
        }
        &.ellipsis {
            &:before {
                content:"...";
                display:block;
            }
        }
    }
  }