.single-post {
  h1 {
    font-weight: bold;
  }
  .resource-module__header {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    @include breakpoint(medium) {
      padding-left: rem-calc(30);
      padding-right: rem-calc(30);
    }
    &:after {
      background: $white;
      z-index: 0;
    }
  }

  .resource-module__header-content {
    padding: rem-calc(20 0 25 0);
    @include breakpoint(medium) {
      padding: rem-calc(40 0 40 0);
    }
    @include breakpoint(large) {
      padding: rem-calc(50 0 70 0);
    }
  }
  .resource-module__header-inner {
    //max-width: $global-width-small;
    @include breakpoint(medium) {
      min-height: rem-calc(100);
    }
    @include breakpoint(large) {
      min-height: rem-calc(150);
    }
  }
}
