.resource-page {
  &__header {
    background: $infospace-red;
    color: $white;
    padding: rem-calc(10 20 40 20);
    border-top-left-radius: rem-calc(20);
    border-top-right-radius: rem-calc(20);
    @include breakpoint(medium) {
      border-top-left-radius: rem-calc(30);
      border-top-right-radius: rem-calc(30);
      padding: rem-calc(20 30 65 30);
    }

    @include breakpoint(large) {
      border-top-left-radius: rem-calc(50);
      border-top-right-radius: rem-calc(50);
    }
    h1 {
      margin-bottom: 1em;
      @include breakpoint(medium) {
        margin-bottom: 0.8em;
      }
      @include breakpoint(large) {
        margin-bottom: 0.4em;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      background: $white;
      height: rem-calc(20);
      width: 100%;
      bottom: 0;
      left: 0;
      border-top-left-radius: rem-calc(30);
      border-top-right-radius: rem-calc(30);
      height: rem-calc(30);
      @include breakpoint(medium) {
      }

      @include breakpoint(large) {
        border-top-left-radius: rem-calc(50);
        border-top-right-radius: rem-calc(50);
        height: rem-calc(50);
      }
      /*&--rev {
        background-color: $white;
        color: $black;
        svg {
          path {
            stroke: $black;
          }
        }
        &:hover {
          background-color: $infospace-orange;
          color: $white;
          svg {
            path {
              stroke: $white;
            }
          }
        }
      }*/
    }

    .add-to-favourites {
      background: $white;
      color: $infospace-red;
      svg {
        path {
          stroke: $infospace-red;
        }
      }
      &--filled {
        svg {
          path {
            fill: $infospace-red;
          }
        }
      }
    }
  }
  &__header-inner {
    max-width: $global-width-inner;
    margin-left: auto;
    margin-right: auto;
    padding: rem-calc(20 0);
  }
  &__grid {
    max-width: $global-width-inner;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(medium) {
      display: flex;
    }
    p {
      line-height: 1.4em;
      @include breakpoint(xlarge) {
        font-size: rem-calc(20);
        line-height: 1.5em;
      }
    }
  }
  &__col1 {
    @include breakpoint(medium) {
      flex-basis: calc(100% - 254px);
      padding-right: rem-calc(40);
      padding-top: rem-calc(20);
    }
    @include breakpoint(large) {
      flex-basis: calc(100% - 336px);
      padding-right: rem-calc(150);
      padding-top: 0;
    }
  }
  &__col2 {
    position: relative;
    padding-top: rem-calc(30);
    @include breakpoint(medium) {
      margin-top: rem-calc(-95);
      flex-basis: rem-calc(254);
    }
    @include breakpoint(large) {
      margin-top: rem-calc(-110);
      flex-basis: rem-calc(336);
      //padding-right: rem-calc(100);
    }
  }
  &__box {
    background: $light-grey;
    padding: rem-calc(20);
    margin-bottom: rem-calc(20);
    border-radius: rem-calc(20);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(18);
    }
    @include breakpoint(large) {
      padding: rem-calc(34 20 36 20);
      margin-bottom: rem-calc(30);
    }
    ul {
      margin: rem-calc(10) 0 0 0;
      @include breakpoint(large) {
        margin: rem-calc(20) 0 0 0;
      }
    }
    h3 {
      color: $infospace-red;
      //margin-bottom: 0.3em;
      font-size: rem-calc(16);
      @include breakpoint(medium) {
        font-size: rem-calc(20);
      }
      @include breakpoint(large) {
        font-size: rem-calc(28);
      }
    }
    &--green {
      
      position: relative;
      //background: $infospace-green;
      background:rgba($infospace-green, 0.8);

      padding: rem-calc(15 20 15 20);
      //margin-top: rem-calc(20);
      //margin-right: rem-calc(-20);
      //margin-left: rem-calc(-20);
      border-bottom-left-radius: rem-calc(20);
      border-bottom-right-radius: rem-calc(20);
      @include breakpoint(medium) {
        padding: rem-calc(20 20 25 20);
        background: $infospace-green;
        text-align: center;
        //margin: 0;
        text-align: left;
      }
      @include breakpoint(large) {
        padding: rem-calc(40 40 40 40);

        //border-bottom-left-radius: rem-calc(50);
        //border-bottom-right-radius: rem-calc(50);
      }
      /*&:after {
        content: "";
        display: block;
        position: absolute;
        background: $white;
        height: rem-calc(20);
        width: 100%;
        bottom: 0;
        left: 0;
        border-top-left-radius: rem-calc(20);
        border-top-right-radius: rem-calc(20);
        @include breakpoint(medium) {
          display: none;
        }
      }*/
      h3 {
        color: $black;
        
      }

      .button-link {
        display: inline-block;
        font-size: rem-calc(12);
       
      }
    }
  }
  &__attachments {
    margin-top: rem-calc(40);

    @include breakpoint(large) {
      margin-top: rem-calc(46);
      padding-top: rem-calc(30);
      border-top: $infospace-red 1px solid;
    }
  }
  .resource-page__tabs {
  }
  &__panel {
  }
  &__favourite-icon {
    svg {
      path {
        stroke: $black;
      }
      @include breakpoint(large) {
        width: rem-calc(20);
        height: auto;
      }
    }
  }
  .tabbed-content__panel ul li {
    margin-bottom: rem-calc(10);
    a {
      color: $black;
      &:hover {
        background: $infospace-orange;
      }
    }
  }
  .tabbed-content__panel ul li:nth-child(odd) a {
    background: $light-grey;
    &:hover {
      background: $infospace-orange;
    }
    span {
      svg {
        @include breakpoint(large) {
          flex-basis: rem-calc(23);
        }
      }
    }
  }
}

.document-label--new {
  padding-right: rem-calc(20);
  text-transform: uppercase;
  font-weight: 600;
}
.document-label--updated {
  padding-right: rem-calc(20);
  text-transform: uppercase;
  font-weight: 600;
}
