body {
  padding-top: rem-calc(59);
  @include breakpoint(medium) {
    padding-top: rem-calc(70);
  }
  @include breakpoint(large) {
    padding-top: rem-calc(98);
  }
}
.main-container {
  @include xy-grid-container;
  max-width: $global-width-margins;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}