body {
  padding-top: rem-calc(59);
  @include breakpoint(medium) {
    padding-top: rem-calc(70);
  }
  @include breakpoint(large) {
    padding-top: rem-calc(98);
  }
}
.main-container {
  min-height: calc(100vh - (498px));
  @include xy-grid-container;
  max-width: $global-width-margins;
  @include breakpoint(medium) {
    min-height: calc(100vh - (300px));
  }
  @include breakpoint(large) {
    min-height: calc(100vh - (362px));
  }
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.error-message {
  color: $infospace-red;
  padding: rem-calc(20) 0;
  margin-bottom: rem-calc(15);
  border-radius: rem-calc(4);
}
.success-message {
  color: $infospace-purple;
  padding: rem-calc(20) 0;
  margin-bottom: rem-calc(15);
  border-radius: rem-calc(4);
}
