// Base Typography
// - - - - - - - - - - - - - - -
// These are styles applied to basic HTML tags, including:
//   - Paragraphs <p>
//   - Bold/italics <b> <strong> <i> <em>
//   - Small text <small>
//   - Headings <h1>-<h6>
//   - Anchors <a>
//   - Dividers <hr>
//   - Lists <ul> <ol> <dl>
//   - Blockquotes <blockquote>
//   - Code blocks <code>
//   - Abbreviations <abbr>
//   - Citations <cite>
//   - Keystrokes <kbd>

/// Font family for header elements.
/// @type String | List
$header-font-family: $body-font-family !default;

/// Font weight of headers.
/// @type String
$header-font-weight: $global-weight-normal !default;

/// Font style (e.g. italicized) of headers.
/// @type String
$header-font-style: normal !default;

/// Color of headers.
/// @type Color
$header-color: inherit !default;

/// Default color for links.
/// @type Color
$anchor-color: $primary-color !default;

/// Default color for links on hover.
/// @type Color
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%) !default;

/// Default text decoration for links.
/// @type String
$anchor-text-decoration: underline;

/// Default text decoration for links on hover.
/// @type String
$anchor-text-decoration-hover: none !default;

// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// Emphasized text
em,
i {
  font-style: italic;
  line-height: inherit;
}

// Strong text
strong,
b {
  font-weight: $global-weight-bold;
  line-height: inherit;
}

// Small text
small {
  font-size: 80%;
  line-height: inherit;
}

// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  color: $header-color;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.8em;
  line-height: 1.12em;
  small {
    line-height: 0;
  }
}

// Links
a {
  line-height: inherit;
  color: $anchor-color;
  text-decoration: $anchor-text-decoration;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $anchor-color-hover;
    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }

  img {
    border: 0;
  }
}

// Horizontal rule
hr {
  clear: both;
  max-width: $global-width;
  height: 0;
  margin: rem-calc(20) auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $medium-gray;
  border-left: 0;
}

// Lists
ul,
ol,
dl {
  text-align: left;
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6rem;
}

// List items
li {
  font-size: inherit;
}

// Unordered lists
ul {
  margin-left: 1.25rem;
  list-style-type: disc;
}

// Ordered lists
ol {
  margin-left: 1.25rem;
}

// Nested unordered/ordered lists
ul,
ol {
  & & {
    margin-left: 1.25rem;
    margin-bottom: 0;
  }
}

// Abbreviations
abbr,
abbr[title] {
  border-bottom: 1px dotted $black;
  cursor: help;
  text-decoration: none;
}

// Figures
figure {
  margin: 0;
}

h1 {
  font-size: rem-calc(22);
  @include breakpoint(medium) {
    font-size: rem-calc(26);
  }
  @include breakpoint(large) {
    font-size: rem-calc(40);
  }
}

h2 {
  font-size: rem-calc(18);
  //margin-bottom: 0.8em;
  font-weight: 500;
  @include breakpoint(medium) {
    font-size: rem-calc(22);
  }
  @include breakpoint(large) {
    font-size: rem-calc(36);
  }
  &.has-large-font-size {
    font-weight: 700;
    font-size: rem-calc(22)!important;
    @include breakpoint(medium) {
      font-size: rem-calc(26)!important;
    }
    @include breakpoint(large) {
      font-size: rem-calc(40)!important;
    }
  }
}
h3 {
  //margin-bottom: 0.4em;
  font-size: rem-calc(16);
  @include breakpoint(medium) {
    font-size: rem-calc(20);
  }
  @include breakpoint(large) {
    font-size: rem-calc(28);
  }
}
h4 {
  //margin-bottom: 0.4em;
  color: $black;
  font-size: rem-calc(14);
  @include breakpoint(medium) {
    font-size: rem-calc(168);
  }
  @include breakpoint(large) {
    font-size: rem-calc(20);
  }
}
h5 {
  //margin-bottom: 0.4em;
  font-size: rem-calc(16);
  @include breakpoint(medium) {
    font-size: rem-calc(16);
  }
  @include breakpoint(large) {
    font-size: rem-calc(20);
  }
}
h6 {
  margin-bottom: 0.4em;
  font-size: rem-calc(16);
  @include breakpoint(medium) {
    font-size: rem-calc(16);
  }
  @include breakpoint(large) {
    font-size: rem-calc(18);
  }
}
p,
li,
label {
  text-rendering: optimizeLegibility;
  line-height: 1.26em;
  margin-bottom: 1em;
  font-size: rem-calc(12);
  @include breakpoint(medium) {
    font-size: rem-calc(14);
  }
  @include breakpoint(large) {
    font-size: rem-calc(18);
  }

  &.has-small-font-size {
    font-size: rem-calc(11) !important;
    @include breakpoint(medium) {
      font-size: rem-calc(12) !important;
    }
    @include breakpoint(large) {
      font-size: rem-calc(16) !important;
    }
  }

  &.has-large-font-size {
    font-size: rem-calc(16) !important;
    @include breakpoint(medium) {
      font-size: rem-calc(20) !important;
    }
    @include breakpoint(large) {
      font-size: rem-calc(26) !important;
    }
  }
}
