.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text {
  font-size: 90%;
  color: #666;
  padding: rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-embed {
  &.is-type-video,
  &.wp-embed-aspect-16-9 {
    margin-bottom: rem-calc(30);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(40);
    }
    @include breakpoint(large) {
      margin-bottom: rem-calc(100);
      margin-left: -18%;
      margin-right: -18%;
    }
    .wp-block-embed__wrapper {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
    }
  }
}

.wp-block-quote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 0;
  border-left: none;
  p {
    font-weight: bold;
    color: $body-font-color;
  }
  cite {
    font-style: normal;
    color: $body-font-color;
    &:before {
      content: "";
    }
  }
}

// from global styles

:where(.is-layout-flex) {
  gap: 1em;
}

body .is-layout-flex {
  display: flex;
}
body .is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}
body .is-layout-flex > * {
  margin: 0;
}

.wp-block-gallery {
  @include xy-grid;
  @include xy-gutters($negative: true);
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);
  margin-bottom: rem-calc(30);
  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(60);
    //padding-left: rem-calc(40);
    //padding-right: rem-calc(40);
  }
  @for $i from 1 through 9 {
    &.gallery-columns-#{$i} {
      @include xy-grid-layout(2, ".gallery-item");
    }
    @include breakpoint(medium) {
      &.gallery-columns-#{$i} {
        @include xy-grid-layout(4, ".gallery-item");
      }
    }
    @include breakpoint(large) {
      &.gallery-columns-#{$i} {
        @include xy-grid-layout($i, ".gallery-item");
      }
    }
  }
  .gallery-icon > a {
    @include thumbnail;
    @include thumbnail-link;
  }
  .gallery-icon > img {
    @include thumbnail;
  }
}

figure.wp-block-table {
  margin-bottom: 1em;
}

.cky-notice-btn-wrapper button {
  font-weight: bold;
}
#login {
  background: $white;
  padding: rem-calc(40 10 10 10);
  margin-bottom: 2em;
  border-radius: rem-calc(20);
  @include breakpoint(medium) {
    border-radius: rem-calc(30);
    width: 480px;
  }
  h1 a {
    background-image: url("../images/infospace-logo.svg");
    height: 60px;
    width: 300px;
    background-size: auto 60px;
    background-repeat: no-repeat;
    padding: rem-calc(10);
    @include breakpoint(medium) {
      height: 80px;
      width: 320px;
      background-size: auto 80px;
    }
  }
  .login .message, .login .notice, .login .success {
    margin-left: rem-calc(25);
    margin-right: rem-calc(25);
    box-shadow: none;
    border-left-width: rem-calc(8);
  }
}
.wp-login-logo {
  background-size: auto 80px;
}
input[type="submit"]#wp-submit {
  line-height: 1.2em;
  color: $black;
  margin-top: rem-calc(15);
  @include breakpoint(medium) {
    margin-top: rem-calc(5);
  }
  @include breakpoint(large) {
    padding: rem-calc(16 75 15 34);
  }
}
.login {
  //background: $white;
  background: $light-grey;

  form {
    box-shadow: none;
    border: none;
  }
  #nav {
    display: none;
  }
  #loginform {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    @include breakpoint(medium) {
      padding-top: rem-calc(20);
    }
  }
  #backtoblog {
    display: none;
  }
  form .input {
    background: $light-grey;
    border: none;
    box-shadow: none;
    border-radius: rem-calc(30);
    font-size: rem-calc(16);
    line-height: 1.2em;
    padding: rem-calc(14 20);
    border: none;
    border-radius: rem-calc(20);
    appearance: none;

    @include breakpoint(medium) {
      padding: rem-calc(15 30);
      border-radius: rem-calc(30);
    }
    @include breakpoint(large) {
      padding: rem-calc(18 30);
    }
  }
  .wp-login-lost-password {
    font-size: rem-calc(16);
    //margin-bottom: 0.4em;
    display: block;
    text-align: center;
  }
}
