/// Settings
@import 'settings';

// Blocks
@import 'admin/blocks/page-banner-titles';
@import 'admin/blocks/stats';
@import 'admin/blocks/image-text';
@import 'admin/blocks/accordion';
@import 'admin/blocks/contact-form';
@import 'admin/blocks/video';
@import 'admin/blocks/google-map';
@import 'admin/blocks/tabs';
@import 'admin/blocks/testimonials';
@import 'admin/blocks/team';
@import 'admin/blocks/grey-background';
@import 'admin/blocks/posts-list';
@import 'admin/blocks/posts-list-filters';
@import 'admin/blocks/posts-list-filters-ajax';
@import 'admin/blocks/latest-posts';
@import 'admin/blocks/small-blocks-container';
@import 'admin/blocks/small-block';
@import 'admin/blocks/share-block';
@import 'admin/blocks/breadcrumbs';
@import 'admin/blocks/logo-list';
@import "admin/blocks/narrow-content";
@import "admin/blocks/image-text-banner";
@import "admin/blocks/image-text-carousel";
@import "admin/blocks/image-text-slide";
@import "admin/blocks/services-carousel";
@import "admin/blocks/services-slide";
@import "admin/blocks/login-register";
@import "admin/blocks/video-tour";
@import "admin/blocks/modules-list";
@import "admin/blocks/search-results";
@import "admin/blocks/all-favourites";
@import "admin/blocks/all-newsletters";
@import "admin/blocks/account-settings";
@import "admin/blocks/accept-terms";
@import "admin/blocks/accept-privacy";
@import "admin/blocks/forgot-password";
@import "admin/blocks/site-map";

// Foundation
@import 'foundation';

// Include custom styling
.interface-interface-skeleton__content {
  @import 'global/content';
  
  padding:rem-calc(20);
}

// Styles for Block editor 
.edit-post-visual-editor {
    p,h1,h2,h4 {
      color: $infospace-purple!important;
    }
  .wp-block {
    max-width: $global-width;
    font-family: $body-font-family;
    margin-left: auto;
    margin-right: auto;

  }
  .wp-block-post-title.editor-post-title__input {
    color: $light-grey;
  }

  @import 'global/typography';
  @import 'components/buttons';

}
