/// Settings
@import "settings";

// Blocks
@import "admin/blocks/page-banner-titles";
@import "admin/blocks/stats";
@import "admin/blocks/image-text";
@import "admin/blocks/accordion";
@import "admin/blocks/contact-form";
@import "admin/blocks/video";
@import "admin/blocks/google-map";
@import "admin/blocks/tabs";
@import "admin/blocks/testimonials";
@import "admin/blocks/team";
@import "admin/blocks/grey-background";
@import "admin/blocks/posts-list";
@import "admin/blocks/posts-list-filters";
@import "admin/blocks/posts-list-filters-ajax";
@import "admin/blocks/latest-posts";
@import "admin/blocks/small-blocks-container";
@import "admin/blocks/small-block";
@import "admin/blocks/share-block";
@import "admin/blocks/breadcrumbs";
@import "admin/blocks/logo-list";
@import "admin/blocks/narrow-content";
@import "admin/blocks/image-text-banner";
@import "admin/blocks/image-text-carousel";
@import "admin/blocks/image-text-slide";
@import "admin/blocks/services-carousel";
@import "admin/blocks/services-slide";
@import "admin/blocks/login-register";
@import "admin/blocks/video-tour";
@import "admin/blocks/modules-list";
@import "admin/blocks/search-results";
@import "admin/blocks/all-favourites";
@import "admin/blocks/all-newsletters";
@import "admin/blocks/account-settings";
@import "admin/blocks/accept-terms";
@import "admin/blocks/accept-privacy";
@import "admin/blocks/change-password";
@import "admin/blocks/forgot-password";
@import "admin/blocks/site-map";
@import "admin/blocks/icon-list";
@import "admin/blocks/icon-list-item";
@import "admin/blocks/benefit-carousel";
@import "admin/blocks/benefit-slide";
@import "admin/blocks/globe-cta";
@import "admin/blocks/page-contact";

// Foundation
@import "foundation";

// Include custom styling
.interface-interface-skeleton__content {
  @import "global/content";

  padding: rem-calc(20);
}

// Styles for Block editor
.edit-post-visual-editor {
  p,
  li,
  h1,
  h2,
  h4 {
    color: $infospace-purple !important;
  }
  .wp-block {
    max-width: $global-width;
    font-family: $body-font-family;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(20);
  }
  .wp-block-post-title.editor-post-title__input {
    color: $light-grey;
  }

  @import "global/typography";
  @import "components/buttons";
}

.cmb2-id-theme-fieldsresource-slug,
.cmb2-id-theme-fieldsresource-tree-id,
.cmb2-id-theme-fieldsresource-right,
.cmb2-id-theme-fieldsresource-parent-id,
.cmb2-id-theme-fieldsresource-lft,
.cmb2-id-theme-fieldsresource-level,
.cmb2-id-theme-fieldssort-order,
#theme_fieldspage_link_details_side,
#theme_fieldsnewsletter_details_side,
#theme_fieldsfavourite_details_side,
.cmb2-id-theme-fieldsold-favourite-system-id,
.cmb2-id-theme-fieldsold-user-system-id,
.cmb2-id-theme-fieldsold-post-system-id,
.cmb2-id-theme-fieldsold-resource-system-id,
.cmb2-id-theme-fieldsold-system-id {
  display: none;
}

.fixed .column-categories,
.fixed .column-rel,
.fixed .column-response,
.fixed .column-role,
.fixed .column-tags {
  width: auto;
}

.user-role-main {
  .wp-list-table {
    tfoot {
      display: none;
    }
  }
  .user-user-login-wrap {
    display: none;
  }
  #wpadminbar #wp-admin-bar-user-info {
    .username {
      display: none;
    }
  }

  #the-list {
    .column-username {
      img + strong  a {
        display: none;
      }
    }
  }
  #username{
    a {
      display: none;
    }
  }
}

.wp-core-ui .button.cmb2-attached-posts-search-button {
  display: none;
}
.attached-posts-wrap a {
  pointer-events: none;
}
