.accordion-block {
  margin: rem-calc(26 0 40);
  
  @include breakpoint(medium) {
    margin-bottom: rem-calc(70);
  }
  
  + .accordion-block {
    margin-top: rem-calc(-36);
    
    @include breakpoint(medium) {
      margin-top: rem-calc(-66);
    }
  }
  
  &__container {
    padding: rem-calc(30 16 20);
    
    @include breakpoint(medium) {
      padding: rem-calc(50 16 40);
    }
  }
  
  &__copy {
    background: $light-grey;
    overflow: hidden;
    transition: height 0.25s;
    
    &.active {
      display: block;
    }
  }
  
  dt {
    background: $dark-grey;
    padding: rem-calc(0 16);
    margin-bottom: 0;
    
    a {
      padding: rem-calc(20 0);
      display: block;
      position: relative;
      color: #fff;
      font-size: rem-calc(24);
      
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: rem-calc(22);
        height: rem-calc(4);
        background: #fff;
      }
      
      &::after {
        transition: transform 0.25s;
        transform: rotate(90deg);
        
        .openAccordian & {
          transform: rotate(0deg);
        }
      }
    }
  }
}
