.account-settings {
  margin-bottom: rem-calc(40);
  background: $light-grey;
  border-bottom-left-radius: rem-calc(20);
  border-bottom-right-radius: rem-calc(20);
  @include breakpoint(medium) {
    margin-bottom: rem-calc(60);
    border-bottom-left-radius: rem-calc(30);
    border-bottom-right-radius: rem-calc(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(140);
    border-bottom-left-radius: rem-calc(50);
    border-bottom-right-radius: rem-calc(50);
  }

  &__container {
    @include breakpoint(large) {
      max-width: $global-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__form {
    max-width: $global-width;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: rem-calc(20 20 50 20);
    @include breakpoint(medium) {
      padding: rem-calc(0 30 60 30);
    }
    @include breakpoint(large) {
      padding: rem-calc(0 30 60 67);
    }
    @include breakpoint(xlarge) {
      padding: rem-calc(0 30 80 67);
    }
    input {
      display: block;
      background: $white;
      margin-bottom: 0.9em;
      @include breakpoint(medium) {
        margin-bottom: 1.2em;
      }
      @include breakpoint(large) {
        margin-bottom: 1.4em;
      }
    }
    textarea {
      display: block;
      background: $white;
      margin-bottom: 0.8em;
    }

    .contact__confirm {
      margin-bottom: 2.2em;
      @include breakpoint(large) {
        margin-bottom: 2.6em;
      }
    }

    .contact__thanks {
      display: none;
      margin: 1rem 0;
      font-size: rem-calc(24);
    }

    &.submitting > * {
      opacity: 0.5;
    }

    &.submitted {
      .form__content {
        opacity: 0;
        max-height: rem-calc(1);
      }

      .contact__thanks {
        display: block;
      }
    }

    &.error {
      form {
        opacity: 0.5;
      }

      &::after {
        content: "Unknown error";
        display: none;
        background-color: $warning-color;
      }
    }
  }

  &__row {
    @include breakpoint(medium) {
      display: flex;
      gap: rem-calc(16);
    }
  }
  &__col {
    @include breakpoint(medium) {
      flex: 1;
    }
    @include breakpoint(large) {
      &:last-child {
        input {
          margin-bottom: rem-calc(0);
        }
      }
    }
  }

  &__form-content {
    //max-width: rem-calc(788);
    @include breakpoint(large) {
      display: flex;
      flex-wrap: wrap;
    }
    h2 {
      font-weight: bold;
      font-size: rem-calc(16);
      margin-bottom: 2em;
      @include breakpoint(large) {
        font-size: rem-calc(28);
        margin-bottom: 1.6em;
      }
    }
    label {
      color: $dark-grey;
    }
  }

  &__left {
    margin-bottom: rem-calc(40);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(30);
    }
    @include breakpoint(large) {
      flex-basis: 65%;
      padding-right: rem-calc(50);
      margin-bottom: rem-calc(40);
    }
  }
  &__right {
    margin-bottom: rem-calc(40);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(30);
    }
    @include breakpoint(large) {
      flex-basis: 35%;
      padding-left: rem-calc(50);
      border-left: $infospace-purple 1px solid;
      margin-bottom: rem-calc(40);
    }
  }

  &__alerts {
    margin-bottom: rem-calc(30);
    @include breakpoint(large) {
      flex-basis: 100%;
      margin-bottom: rem-calc(40);
    }
    label {
      display: block;
      margin-bottom: rem-calc(15);
    }
    h2 {
      margin-bottom: 1em;
      @include breakpoint(large) {
        font-size: rem-calc(28);
        margin-bottom: 1.6em;
      }
    }
  }

  
}
