body {
  .accordion-block-item {
    margin-top: rem-calc(26);
    margin-bottom: rem-calc(40);
    @include breakpoint(medium) {
      margin-top: rem-calc(26);
      margin-bottom: rem-calc(70);
    }
    + .accordion-block-item {
      margin-top: rem-calc(-36);
      @include breakpoint(medium) {
        margin-top: rem-calc(-66);
      }
    }
    .accordion-block-container {
      padding: rem-calc(30 16 20 16);
      @include breakpoint(medium) {
        padding: rem-calc(50 16 40 16);
      }
      @include breakpoint(large) {
        padding: rem-calc(50 16 40 16);
      }
    }
    .accordion-block-copy {
      background: $light-grey;
      overflow: hidden;
      transition: height 0.25s;

      &.active {
        display:block;
      }
    }

    dl {
      dt {
        background: $dark-grey;
        padding: rem-calc(0 16);
        margin-bottom: 0;

        a {
          padding: rem-calc(20 0);
          display: block;
          position: relative;
          color: #fff;
          font-size: rem-calc(24);

          &:after,
          &:before {
            display: block;
            content: "";
            width: rem-calc(22);
            height: rem-calc(4);
            background: #fff;
            position: absolute;
            top: 50%;
            right: 0;
          }

          &:after {
            transition: all 0.25s;
            transform: rotate(90deg);
          }

          &.openAccordian {
            &:after {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }
}
