.benefit-slide {
  padding: rem-calc(0 12 0 0);

  @include breakpoint(medium) {
    padding: rem-calc(0 12 0 12);
  }
  h3 {
    color: $white;
    margin-bottom: 0;
    max-width: 80%;
    font-size: rem-calc(24);
    @include breakpoint(medium) {
      font-size: rem-calc(28);
       max-width: rem-calc(246);
    }
  }
  &__container {
    padding: 0;

    // max-width: calc(100vw - 90px);
    background: $light-grey;
    border-radius: rem-calc(20);
    overflow: hidden;
    width: calc(70vw);
    max-width: rem-calc(360);
    @include breakpoint(medium) {
      width: calc(85vw);

      align-items: center;
      //display: flex;
      border-radius: rem-calc(30);
    }
    @include breakpoint(large) {
      border-radius: rem-calc(50);
      width: 100%;
    }
  }

  &__content {
    position: absolute;
    bottom: rem-calc(10);
    left: rem-calc(10);
    padding: rem-calc(20 20 12 20);
    @include breakpoint(medium) {
      padding: rem-calc(30 30 30 50);
    }

    @include breakpoint(large) {
      padding-left: rem-calc(40);
      padding-right: rem-calc(80);
      //width: calc(100% - rem-calc(176));
    }

    @include breakpoint(xlarge) {
      //padding-right: rem-calc(60);
    }
  }

  &__image {
    position: relative;
    mix-blend-mode: luminosity;
    height: 100%;
    opacity: 0.3;
    @include breakpoint(medium) {
    }
    @include breakpoint(large) {
      // width: rem-calc(176);
    }
    svg {
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 100%;
      height: auto;
      left: 0;
      @include breakpoint(medium) {
        height: calc(100% + 2px);
        width: auto;
        top: -1px;
        bottom: -1px;
        left: auto;
        right: -1px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .wp-block-buttons {
    margin-top: rem-calc(20);
    @include breakpoint(medium) {
      margin-top: rem-calc(22);
    }
    @include breakpoint(large) {
      margin-top: rem-calc(40);
    }
  }
}
