.change-password {

  margin-right: auto;
  .success-message {
    color: $infospace-purple;
    padding: rem-calc(20) 0;
    margin-bottom: rem-calc(15);
    border-radius: rem-calc(4);
  }
  .error-message {
    color: $infospace-red;
    padding: rem-calc(20) 0;
    margin-bottom: rem-calc(15);
    border-radius: rem-calc(4);
  }
  .form-group {
    margin-bottom: rem-calc(20);
  }
  .change-password-form,
  p {
    max-width: rem-calc(600);
  }
}
