.forgot-password {
  margin-bottom: 1em;
  max-width: rem-calc(1200);
  margin-left: auto;
  margin-right: auto;
  .success-message {
    color: $infospace-purple;
    padding: rem-calc(20) 0;
    margin-bottom: rem-calc(15);
    border-radius: rem-calc(4);
  }
  .error-message {
    color: $infospace-red;
    padding: rem-calc(20) 0;
    margin-bottom: rem-calc(15);
    border-radius: rem-calc(4);
  }
  .form-group {
    margin-bottom: rem-calc(20);
  }
  #forgot-password-form,
  p {
    max-width: rem-calc(600);
  }
}
