.icon-list {
  margin-bottom: rem-calc(40);
  padding: 0 rem-calc(20);
  @include breakpoint(medium) {
    padding: 0 rem-calc(30);
    margin-bottom: rem-calc(40);
  }
  @include breakpoint(large) {
     margin-bottom: rem-calc(60);
  }

  p {
    font-size: rem-calc(14);
  }
  h2 {
    color: $white;
    font-weight: bold;
    padding: rem-calc(0 10);
    @include breakpoint(medium) {
      padding: rem-calc(0 30);
    }
  }

  &__container {
    background: $infospace-purple;
    margin: 0 auto 0 auto;
    max-width: $global-width;
    border-radius: rem-calc(20);
    padding: rem-calc(30 20 20 20);
    @include breakpoint(medium) {
      border-radius: rem-calc(30);
    }
    @include breakpoint(large) {
      padding: rem-calc(40 30);
      border-radius: rem-calc(50);
    }
  }
}

.icon-list__grid {
  color: $white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include breakpoint(large) {
    flex-wrap: nowrap;
  }
}

.icon-list-item {
  padding: rem-calc(20 15);
  align-items: center;
  text-align: center;
  justify-content: center;
  //margin-bottom: rem-calc(10);
  flex-basis: 50%;
  @include breakpoint(medium) {
    flex-basis: 33.33%;
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(0);
    flex-basis: 20%;
  }

  .icon-list-item__image {
    width: rem-calc(96);
    height: auto;
    margin: 0 auto;
    min-height: rem-calc(100);
    @include breakpoint(medium) {
      //width: rem-calc(300);
      // height: rem-calc(300);
    }
  }

  h3 {
    font-size: rem-calc(18);
    font-weight: 600;
  }
}
