.latest-posts {
  margin-bottom: rem-calc(20);
  padding: rem-calc(0 0 20 0);
  text-align: center;

  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(60);
  }

  h2 {
    @include breakpoint(large) {
      margin-bottom: rem-calc(40);
    }
  }

  &__container {
    justify-content: center;
    max-width: rem-calc(1020);
    margin: 0 auto;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(30);
    }

    @include breakpoint(large) {
      margin-bottom: rem-calc(20);
    }

    &.number-posts-2,
    &.number-posts-4 {
      .cell {
        width: 50%;
      }
    }
  }

  &.grey-back {
    background: $light-grey;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: rem-calc(30 10 20 10);

    @include breakpoint(medium) {
      padding: rem-calc(20 10 20 10);
    }

    @include breakpoint(large) {
      padding: rem-calc(40 10 40 10);
    }
  }
}
