
  .narrow-content {
    margin-bottom: rem-calc(30);
    max-width: rem-calc(700);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(40);
    }

    @include breakpoint(large) {
      margin-bottom: rem-calc(60);
    }

    &.very-narrow {
      max-width: $global-width-inner;
      h1,h2,h3,h4,h5,h6 {
        max-width: rem-calc(900);
      }
      p,li {
        max-width: rem-calc(700);
      }
    }
  }