.page-banner-titles {
  margin-bottom: rem-calc(10);
  background: $light-grey;

  border-top-left-radius: rem-calc(20);
  border-top-right-radius: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(20);
    border-top-left-radius: rem-calc(30);
    border-top-right-radius: rem-calc(30);
    padding-left: rem-calc(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(60);
    border-top-left-radius: rem-calc(50);
    border-top-right-radius: rem-calc(50);
  }

  &:first-child {
    // margin-top: -1rem;

    @include breakpoint(medium) {
      //margin-top: -3rem;
    }
  }

  &:after {
    content: "";
    background: $white;

    height: rem-calc(20);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-left-radius: rem-calc(20);
    border-top-right-radius: rem-calc(20);
    @include breakpoint(medium) {
      height: rem-calc(30);
      border-top-left-radius: rem-calc(30);
      border-top-right-radius: rem-calc(30);
    }
    @include breakpoint(large) {
      height: rem-calc(50);
      border-top-left-radius: rem-calc(50);
      border-top-right-radius: rem-calc(50);
    }
  }

  &__inner {
    max-width: $global-width-inner;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;

    @include breakpoint(medium) {
      flex-direction: row;
      height: rem-calc(400);
    }

    @include breakpoint(large) {
      height: rem-calc(480);
    }
    @include breakpoint(xlarge) {
      height: rem-calc(630);
    }
  }

  &__background {
    height: rem-calc(230);
    width: 100%;
    overflow: hidden;
    position:relative;
    @include breakpoint(medium) {
      position: absolute;

      right: 0;
      top: 0;
      width: 47%;
      height: rem-calc(400);
    }
    @include breakpoint(large) {
      height: rem-calc(480);
    }
    @include breakpoint(xlarge) {
      height: rem-calc(630);
    }

    img {
      //display: none;
      border-top-right-radius: rem-calc(20);
      @include breakpoint(medium) {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-right-radius: rem-calc(30);
      }
      @include breakpoint(large) {
        border-top-right-radius: rem-calc(50);
      }
    }
    svg {
      display: none;
      @include breakpoint(medium) {
        display: block;
        position: absolute;
        left: -1px;
        top: 0;
        width: auto;
        height: 100%;
      }
      &.module-banner-mask-mobile {
         display: block;
        position: absolute;
        display: block;
        left:0;
        bottom:-1px;
        top:auto;
        width: 100%;
        height: auto;
        path {
          fill: $light-grey;
        }
      }
    }
  }

  &__headings {
    padding: rem-calc(20 20 30 20);
    position: relative;
    @include breakpoint(medium) {
      max-width: 45%;
      margin-right: rem-calc(50);
      padding: rem-calc(0);
    }

    @include breakpoint(large) {
      max-width: rem-calc(526);
      margin-right: rem-calc(70);
    }

    h3 {
      margin-bottom: 0.4em;
    }

    p {
      font-size: rem-calc(20);
      line-height: 1.2;
      margin-bottom: 0;
      font-weight: 500;
    }
  }

  &__image-mob {
    height: 100%;
    background-size: cover;
    background-position: center;

    @include breakpoint(medium) {
      display: none;
    }
  }
}
