.posts-list {
  text-align: center;
  position: relative;
  margin-bottom: rem-calc(20);
  padding-bottom: rem-calc(60);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(60);
  }

  &__container {
    justify-content: center;
    max-width: rem-calc(1020);
    margin: 0 auto;
  }

  nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
