.posts-list {
  margin-bottom: rem-calc(20);
background-color: $light-grey;
  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(60);
  }

  &__filter {
    @include breakpoint(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__reveal-content {
      display: flex;
      flex-direction: column;

      @include breakpoint(medium) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .searchform .input-group-field {
    color: $dark-grey;
  }

  .filter__list {
    position: relative;
    display: inline-block;
    z-index: 12;
  }
  .filter__heading {
    position: relative;
    display: block;
    width: 100%;
    padding: rem-calc(10 40 10 20);
    border: 1px solid $dark-grey;
    font-weight: bold;
    text-align: left;
    cursor: pointer;

    @include breakpoint(medium) {
      width: auto;
      display: inline-block;
      margin-right: rem-calc(10);
    }

    @include breakpoint(large) {
      padding: rem-calc(14 160 14 20);
      margin-right: rem-calc(20);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: rem-calc(10);
      width: rem-calc(8);
      height: rem-calc(8);
      margin-top: rem-calc(-4);
      border-right: 2px solid $dark-grey;
      border-bottom: 2px solid $dark-grey;
      transform: rotate(45deg);
      transition: transform 0.25s;

      @include breakpoint(large) {
        right: rem-calc(20);
      }
    }

    &.open {
      &::after {
        transform: rotate(225deg);
      }

      + .nav-filter {
        display: block;
      }
    }
  }

  .nav-filter {
    display: none;
    position: relative;
    width: 100%;
    margin: -1px 0 0;
    padding: rem-calc(0 20 10 20);
    list-style: none;
    background: $white;
    border: 1px solid $dark-grey;
    border-top: none;

    @include breakpoint(medium) {
      position: absolute;
      top: calc(100% - 1px);
      left: 0;
      width: calc(100% - 10px);
    }

    @include breakpoint(large) {
      width: calc(100% - 20px);
    }

    li {
      &.active {
        display: none;
      }

      a {
        display: block;
        padding: 0;
        margin: 0;
        font-size: rem-calc(14);
        line-height: 1.2;

        &:hover {
          color: $dark-grey;
        }
      }
    }
  }
}
