.services-slide {
  padding: rem-calc(0 24 0 0);
  @include breakpoint(medium) {
    padding: rem-calc(0 6 0 0);
  }

  &__container {
    padding: 0;

    max-width: calc(100vw - 90px);
    background: $light-grey;
    border-radius: rem-calc(20);
    overflow: hidden;
    @include breakpoint(medium) {
     width: calc(85vw);
     max-width: rem-calc(614);
      align-items: center;
      display: flex;
      border-radius: rem-calc(30);
    }
    @include breakpoint(large) {
      border-radius: rem-calc(50);
      width:100%;
       max-width: rem-calc(830);
    }
  }

  &__content {
    padding: rem-calc(20 20 12 20);

    @include breakpoint(medium) {
      padding: rem-calc(30 30 30 50);
      width: 62%;
    }

    @include breakpoint(large) {
      padding-left: rem-calc(40);
      padding-right: rem-calc(80);
       width: 47%;
      //width: calc(100% - rem-calc(176));
    }

    @include breakpoint(xlarge) {
      //padding-right: rem-calc(60);
    }
  }

  &__image {
    position: relative;

    height:100%;
    @include breakpoint(medium) {
      width: 38%;
    }
    @include breakpoint(large) {
      // width: rem-calc(176);
      width: 53%;
    }
    svg {
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 100%;
      height: auto;
      left: 0;
      @include breakpoint(medium) {
        height: calc(100% + 2px);
        width: auto;
        top: -1px;
        bottom: -1px;
        left: auto;
        right: -1px;
      }
    }
    img {
      width:100%;
      height:100%;
      object-fit: cover;
    }
  }
  .wp-block-buttons {
    margin-top: rem-calc(20);
    @include breakpoint(medium) {
        margin-top: rem-calc(22);
      }
      @include breakpoint(large) {
        margin-top: rem-calc(40);
      }
  }
}
