.services-carousel-list {
  margin-bottom: rem-calc(40);
  padding: rem-calc(0 20);
  overflow: hidden;
  @include breakpoint(medium) {
    padding: rem-calc(0 30);
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(xlarge) {
    margin-left: rem-calc(67);
  }

  h2 {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
  &__container {
    max-width: $global-width;
    margin: 0 auto;
  }
  .flickity-viewport {
    overflow: visible !important;
  }

  .services-carousel__carousel {
    padding: rem-calc(5 0);
    margin: 0;
  }

  .flickity-page-dots {
    position: relative;
    bottom: 0;
    width: auto;
    margin-left: rem-calc(8);
    margin-right: rem-calc(8);

    @include breakpoint(medium) {
      justify-content: flex-start;
      //margin-left: rem-calc(98);
    }

    @include breakpoint(large) {
      //margin-left: rem-calc(212);
    }
  }

  .flickity-enabled {
    .services-slide {
      filter: blur(5px);
      .services-slide__container {
        transform: scale(0.9);
        transition: all 0.5s ease-in-out;
      }
      &.is-selected {
        filter: blur(0);
        //transform: scale(1);
        .services-slide__container {
          transform: scale(1);
        }
      }
    }
  }
  .button-row {
    margin-top: rem-calc(20);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .button {
      svg {
        width: rem-calc(20);
        height: rem-calc(20);
      }
      &.button--previous {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
