.small-blocks-container {
  padding: 0;
  text-align: center;
  margin: 0 auto rem-calc(80) auto;
}

.small-blocks-grid {
  display:flex;
  justify-content: center;
}

.small-blocks-item {
  padding: rem-calc(20);
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
  @include breakpoint(medium) {
    margin-bottom: 2em;
  }


  .small-blocks-item__image {
    width: rem-calc(197);
    height: rem-calc(197);
    margin: 0 auto rem-calc(34) auto;
    @include breakpoint(medium) {
      width: rem-calc(300);
      height: rem-calc(300);
    }
  }
  
  h3 {
    margin: 0 0 0.6em 0;
    font-size: rem-calc(18);
    @include breakpoint(medium) {
      font-size: rem-calc(30);
      margin: 0 0 0.4em 0;
    }
  }
  
}
