.teams {
  position: relative;
  margin-bottom: rem-calc(20);
  
  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }
  
  @include breakpoint(large) {
    margin-bottom: rem-calc(60);
  }

  &__team {
    text-align: center;
    max-width: $global-width;
    margin: auto;
    padding: 0 rem-calc(40);
  }

  .person {
    text-align: left;
    
    @include breakpoint(large) {
      padding: 0 rem-calc(10);
    }

    &__container {
      display: flex;
      width: 100%;
      padding: rem-calc(20) 0;
      
      @include breakpoint(large) {
        padding: 0 rem-calc(10);
      }
    }

    &__image {
      flex-shrink: 0;
      width: rem-calc(150);
      
      @include breakpoint(large) {
        width: rem-calc(220);
      }
      
      img {
        width: rem-calc(120);
        
        @include breakpoint(large) {
          width: rem-calc(200);
        }
      }
    }

    &__popup {
      display: none;
      z-index: 5;
      padding: rem-calc(50) rem-calc(30);
      position: fixed;
      top: rem-calc(70);
      background: #fff;
      height: calc(100vh - 70px);
      overflow: scroll;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
      
      @include breakpoint(medium) {
        top: 0;
        height: auto;
        position: absolute;
      }
      
      &.active {
        display: block;
      }

      &-container {
        max-width: rem-calc(840);
        margin: auto;
        display: flex;
        flex-direction: column;
        
        @include breakpoint(medium) {
          flex-direction: row;
        }
      }

      &-content {
        text-align: center;
        
        @include breakpoint(medium) {
          text-align: left;
          padding-right: 10%;
        }
      }

      &-image {
        flex-shrink: 0;
        max-width: rem-calc(268);
        margin: auto;
      }
    }
  }
}
