.welcome-back {
  margin-right: auto;
  .form-group {
    margin-bottom: rem-calc(20);
  }
  #welcome-back-form,
  p {
    max-width: rem-calc(600);
  }
  &--submitted {
    display: none;
  }
  &__after-text {
    display:none;
  }
  &--success-message {
    form {
      display: none;
    }
    .welcome-back__before-text {
      display:none;
    }
    .welcome-back__after-text {
      display:block;
    }
  }
  
}
